:root {

  /* --- MAIN COLORS FROM DESIGN PROJECT --- */
  --color-primary: #014d49;
  --color-secondary: #BAE3F0;
  --color-tertiary: #d32f2f;
  --color-white: #ffffff;
  --color-black: #333333;
  --color-grey: #f5f5f5;

  --font-main: 'Inter', sans-serif;

  /* --- GLOBAL RULES FOR FONT AND SPACING DIMENSIONS - FIX LATER ON ---
  -font-main;

  -spacing-xs: 0.25rem;
  -spacing-sm: 0.5rem;
  -spacing-md: 1rem;
  -spacing-1g: 2rem;
  -spacing-xl: 4rem;

  -radius-sm: 4px;
  -radius-md: 8px;
--- */

/* --- GLOBAL RULES IN ORDER TO MAKE LOGO SIZE RESPONSIVE ACROSS DIFFERENT SCREENS --- */
--footer-logo-min: 80px;
--footer-logo-max: 120px;
--footer-icon-min: 24px;
--footer-icon-max: 32px; 
--footer-gap: clamp(1rem, 5vw, 3rem);
}

header,
footer {
  color: var(--color-secondary);
  background: var(--color-primary);
}

header a:not(.login-button):not(.register-button), /* --- EXCLUDES LOGIN AND REGISTER BUTTONS FROM COLOR RULES ABOVE --- */
header i,
footer a,
footer i {
  color: var(--color-secondary); /* --- BUT THE OTHER HEAD/FOOT ELEMENTS GETS COLOR RULE APPLIED --- */
}